<!-- <router-outlet></router-outlet> -->
<form class="employee-details-form">
    <mat-form-field>
        <input matInput type="text" #searchBox (keyup)="getEmployees(searchBox.value)" placeholder="Type to Filter...."/>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
    <mat-card class="employee-card" *ngFor="let emp of results">
        <mat-grid-list cols="2">
            <mat-grid-tile>
                <img mat-card-image src="{{emp.avatar}}">
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-list role="list">
                    <mat-list-item role="listitem">{{emp.name}}</mat-list-item>
                    <mat-list-item role="listitem">{{emp.country}}</mat-list-item>
                    <mat-list-item role="listitem">{{emp.createdAt | date}}</mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</form>